# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#hardhat
hardhat/node_modules
hardhat/.env
hardhat/cache
hardhat/artifacts
hardhat/.env.example
hardhat/.gitattributes
hardhat/.gitignore
hardhat/.gitpod.yml
hardhat/.npmignore
hardhat/.prettierignore
hardhat/.prettierrc
hardhat/.solcover.js
hardhat/.solhint.json
hardhat/.solhintignore

#medusa
medusaSteps/node_modules
medusaSteps/.env

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
