.Dao {
    text-align: center;
}

.wrapper {
    margin: 10px 40px;
}

.font {
    margin: 15px 0;
}

.h1Alignment {
    text-align: left;
    margin: 15px 40px;
}
.h2Alignment {
    text-align: left;
    margin: 15px 40px;
    font-size: 28px;
}
.spanAlignment {
    font-size: 20px;
    display: block;
    text-align: left;
    margin: 0 40px;
    line-height: 28px;
}
.fontList {
    text-align: left;
    margin: 0 40px;
    line-height: 28px;
    font-size: 20px;
    flex-basis: 50%;
}